<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>old</title>
    <link rel="stylesheet" href="../../../../../sitio afp_capital/css_sass(reestructuracion_reduccida)/css/cpl_base.css">
</head>
<style>
    .box{
        background-color: aquamarine;

        width: 100%;
        height: 100px;
    }
    .box2{
        background-color:cadetblue;

        width: 100%;
        height: 100px;
    }
</style>
<body>
    <div class="cpl_body">
          
        <div class="cpl_container">
            <div class="box2 "></div>
            <div class="box margin_top_tiny"></div>
            <div class="box margin_top_extraSmall"></div>
            <div class="box margin_top_small"></div>
            <div class="box margin_top_medium"></div>
            <div class="box margin_top_large"></div>
            <div class="box margin_top_big"></div>
            
        </div>
        
    </div>
</body>
</html>