<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Base</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css" />
  </head>
  <body>
<div class="cpl_body">
      <div class="cpl_container mw_950">
        <div class="flex_row">
          
        <div class="cpl_col cpl_col_12 mw_600 center_div">
          <h1>Alertas</h1>
          <!-- <div class="cpl_alert_bar "><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste.</p></div> -->
                  
          
            

          

            <div class="cpl_alert_bar alert_error gray_bg bordered">
           
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint istemagnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint ist</p>
            </div>
            

            <div class="cpl_alert_bar alert_success gray_bg bordered"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste.</p></div>

            <div class="cpl_alert_bar alert_caution gray_bg bordered"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste.</p></div>

            <div class="cpl_alert_bar alert_info gray_bg bordered"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste.</p></div>



            <div class="cpl_alert_bar   bordered">
                <h3>Tienes un giro diferido en curso</h3>
                <p class="t-extraDarkGray">
                  Por este motivo no podrás realizar giros inferiores a <strong>$300.000</strong> hasta que se complete el actual giro.</p>
              </div>


              <div class="cpl_alert_bar alert_error  bordered">
                <h3>Título de la alerta</h3>
                <p class="t-extraDarkGray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint istemagnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint ist</p>
              </div>


              <div class="cpl_alert_bar alert_info  bordered">
                <h3>Título de la alerta</h3>
                <p class="t-extraDarkGray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint istemagnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint ist</p>
              </div>


              <div class="cpl_alert_bar alert_success  bordered">
                <h3>Título de la alerta</h3>
                <p class="t-extraDarkGray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint istemagnam beatae ab sint iste adipisicing elit. Facilis magnam beatae ab sint ist</p>
              </div>



          </div>
      </div>
    </div>
</div>
  </body>
</html>
