<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura base</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css" />
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
            <h1 class="center_text">Botones</h1>
 
            <br><br>
            <div class="flex_row">
                <div class="cpl_col cpl_col_12">
                    <h1 class="t-extraDarkGray fs_x30">Botones primarios</h1>


                 
        


                    <div class="flex_row">
                        <div class="cpl_col cpl_col_4">
                          <!-- boton amarillo -->
                          <a href="#" class="cpl_btn yellow">Boton amarillo</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .yellow</strong></p>
                        </div>
                        <div class="cpl_col cpl_col_4">
                          <!-- boton aqua -->
                          <a href="#" class="cpl_btn aqua">Boton aqua</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .aqua</strong></p>
                        </div>
                    
                        <div class="cpl_col cpl_col_4">
                          <!-- boton azul -->
                          <a href="#" class="cpl_btn blue ">Botón azul</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .blue</strong></p>
                        </div>




                        <div class="cpl_col cpl_col_4">
                            <!-- boton rojo -->
                            <a href="#" class="cpl_btn gray ">Botón gris</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .gray</strong></p>
                          </div>
                    
                          <div class="cpl_col cpl_col_4">
                            <!-- boton verde -->
                            <a href="#" class="cpl_btn red ">Botón verde</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .red</strong></p>
                          </div>


                          <div class="cpl_col cpl_col_4">
                            <!-- boton verde -->
                            <a href="#" class="cpl_btn green ">Botón verde</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .green</strong></p>
                          </div>
                 
                      </div>


                      <h1 class="t-extraDarkGray margin_top_big">Botones secundarios</h1>
                      <p class="max_w_600">Todos los botones primarios tienen una variante secundaria que se establece agregando la clase <strong>.secondary</strong></p>
                      <div class="flex_row margin_top_small">
                        <div class="cpl_col cpl_col_4">
                          <!-- boton amarillo -->
                          <a href="#" class="cpl_btn yellow secondary">Boton amarillo</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .yellow</strong></p>
                        </div>
                        <div class="cpl_col cpl_col_4">
                          <!-- boton aqua -->
                          <a href="#" class="cpl_btn aqua secondary">Boton aqua</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .aqua</strong></p>
                        </div>
                    
                        <div class="cpl_col cpl_col_4">
                          <!-- boton azul -->
                          <a href="#" class="cpl_btn blue secondary ">Botón azul</a>
                          <!-- -- -->
                          <p class="small-text">Clase: <strong>.cpl_btn .blue</strong></p>
                        </div>




                        <div class="cpl_col cpl_col_4">
                            <!-- boton rojo -->
                            <a href="#" class="cpl_btn gray secondary ">Botón gris</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .gray</strong></p>
                          </div>
                    
                          <div class="cpl_col cpl_col_4">
                            <!-- boton verde -->
                            <a href="#" class="cpl_btn red secondary ">Botón verde</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .red</strong></p>
                          </div>


                          <div class="cpl_col cpl_col_4">
                            <!-- boton verde -->
                            <a href="#" class="cpl_btn green secondary ">Botón verde</a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .green</strong></p>
                          </div>
                 
                      </div>



 <h1 class="t-extraDarkGray margin_top_big">Boton desactivado</h1>
                      <div class="flex_row">
                          <div class="cpl_col cpl_col_4">
                         <a class="cpl_btn" disabled>Desactivado</a>
                        </div>
                      </div>



                      <h1 class="t-extraDarkGray margin_top_big">Boton bloqueo doble click</h1>
                      <div class="flex_row">
                          <div class="cpl_col cpl_col_4">
                         <a class="cpl_btn blue btn_one_click">Enviar</a>
                        </div>

                        <div class="cpl_col cpl_col_3">
                          <a class="cpl_btn blue btn_one_click small ">Enviar</a>
                         </div>


                         <div class="cpl_col cpl_col_4">
                          <a class="cpl_btn blue btn_one_click extraSmall max_w_150">Enviar</a>
                         </div>
                         <div class="cpl_col cpl_col_12">
                          <p class="small-text">Clase: <strong>.cpl_btn .btn_one_click</strong></p>
                         
                          <p>Requiere <strong>globals.js</strong></p>
                         </div>
                      </div>





                      <h1 class="t-extraDarkGray margin_top_big">Tamaños</h1>
                      <div class="flex_row">
                          <div class="cpl_col cpl_col_4">
                         <a class="cpl_btn blue secondary" >Normal</a>
                         <p class="small-text">Clase: <strong>.cpl_btn </strong></p>
                        </div>

                        <div class="cpl_col cpl_col_3">
                            <a class="cpl_btn blue secondary small" >Small</a>
                            <p class="small-text">Clase: <strong>.cpl_btn .small</strong></p>
                           </div>

                        <div class="cpl_col cpl_col_3">
                            <a class="cpl_btn blue secondary extraSmall mw_150" >Extra small</a>
                           <div class="flex_row">
                            <div class="cpl_col cpl_col_12">
                            <p class="small-text">Clase: <strong>.cpl_btn .extraSmall</strong></p>
                        </div>
                        </div>
                           </div>
                      </div>

                      <h1 class="t-extraDarkGray margin_top_big">Botones con íconos</h1>

                      <p class="max_w_600">Para agregar iconos al boton solo tenemos que agregar el icono con un span y la clase cpl_icon dentro del texto del botón. <a href="">revisa aquí 
                          como usar cpl_icon</a></p>

                      <div class="flex_row margin_top_small">
                          <div class="cpl_col cpl_col_4">
                           
                                <!-- boton con icono -->
                                <a href="https://www.sura.cl/Pages/default.aspx" class="cpl_btn blue secondary "> Botón con icono <span class="cpl_icon pack2 icon-send"></span></a>
                                <!-- -- -->
                                <p class="small-text">Clase: <strong>.cpl_btn .blue .secondary > span.cpl_icon .pack2 .icon-send</strong></p>
                            
                          </div>


                          <div class="cpl_col cpl_col_4">
                           
                            <!-- boton con icono -->
                            <a href="https://www.sura.cl/Pages/default.aspx" class="cpl_btn blue secondary secondary "> Botón con icono <span class="cpl_icon pack2 icon-calendar"></span></a>
                            <!-- -- -->
                            <p class="small-text">Clase: <strong>.cpl_btn .blue .secondary > span.cpl_icon .pack2 .icon-calendar</strong></p>
                        
                      </div>

                      <div class="cpl_col cpl_col_4">
                           
                        <!-- boton con icono -->
                        <a href="https://www.sura.cl/Pages/default.aspx" class="cpl_btn blue secondary "> Botón con icono <span class="cpl_icon pack2 icon-trash"></span></a>
                        <!-- -- -->
                        <p class="small-text">Clase: <strong>.cpl_btn .blue .secondary > span.cpl_icon .pack2 .icon-trash</strong></p>
                    
                  </div>

                      </div>

     
                   
                            

                </div>

            </div>
        </div>
    </div>
    <script src="../../Assets/Globals/js/jquery.js"></script>
    <script src="../../Assets/Globals/js/globals.js"></script>
</body>
</html>