<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css">
    <!-- <link rel="stylesheet" href="../../../../sitio afp_capital/css_sass(reestructuracion_reduccida)/css/cpl-Styles.css"> -->
    <script src="../../js/jquery.js"></script>
</head>
<style>
    .groups {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
       
    flex: 0 0 1;
    align-items: stretch;
	/* @include disp(flex);
	@include geneBrow(flex-shrink, 0);
	align-items: stretch;
    @include geneBrow(flex-wrap, wrap!important); */
    

       
    }
    .groups > .cpl_col {
        padding: 30px!important;
    }
    .group {
        border: solid 1px #ddd!important;
        border-radius: 12px;
       width: 100%;
        float: left;
        padding: 20px!important;
        /* background-color: #efefef; */
    }
</style>

<body>
    <div class="cpl_body">
        <div class="cpl_container">
    <div class="groups">

        <!-- cards -->
         
        <div class="cpl_col cpl_col_12">
            <div class="group">
            
         <h1>Cards</h1>
        

                  <div class="co_cards">
                      <div class="flex_row">


                        <div class="cpl_col cpl_col_4">
                          <div class="card border_lightGray">
                            <div class="card_cont">
                                <div class="card_header">
                              <div class="hoverBar"></div>
                              <h1>Header</h1>
                            </div>
                            <div class="card_body">
                             
                           
                            <p>Nihil expedita reprehenderit obc sit amet consectetur adipisicing elit. Fuga rerum minima fugit. Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                        </div>
                        <div class="card_footer">
                            <a href="#" class="cpl_btn">Footer!</a>
                            </div>
                          </div>
                        </div>
                        </div>


                        <div class="cpl_col cpl_col_12">
                          <div class="card border_lightGray">
                            <div class="card_cont">
                                <div class="card_header">
                              <div class="hoverBar"></div>
                              <h1>¿Necesita realizar un trámite y la sucursal más cercana está cerrada?</h1>
                              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magni corporis eius sunt.</h3>
                            </div>
                            <div class="card_body">
                             
                           
                            <p>Nihil expedita reprehenderit obc sit amet consectetur adipisicing elit. Fuga rerum minima fugit. Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                        </div>
                        <div class="card_footer">
                            <a href="#" class="cpl_btn">Click!</a>
                            </div>
                          </div>
                        </div>
                        </div>
                  
                        <div class="cpl_col cpl_col_4">
                            <div class="card border_lightGray">
                              <div class="card_cont">
                                  <div class="card_header">
                                <div class="hoverBar"></div>
                                <h1>Lorem ipsum dolor sit amet</h1>
                              </div>
                              <div class="card_body">
                               
                             
                              <p>Nihil expedita reprehenderit obc sit amet consectetur adipisicing elit. Fuga rerum minima fugit. Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                          </div>
                          <div class="card_footer">
                              <a href="#" class="cpl_btn">Click!</a>
                              </div>
                            </div>
                          </div>
                          </div>
                    
                    <div class="cpl_col cpl_col_4">
                      <div class="card border_lightGray">
                        <div class="card_cont">
                            <div class="card_header">
                          <div class="hoverBar"></div>
                          <h1>Nihil expedita reprehenderit obcaecati.</h1>
                        </div>
                        <div class="card_body">
                         
                       
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita reprehenderit obcaecati illum dolorem quae atque quisquam deserunt.</p>
                    </div>
                    <div class="card_footer">
                        <a href="#" class="cpl_btn">Click!</a>
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="cpl_col cpl_col_4">
                        <div class="card border_lightGray">
                          <div class="card_cont">
                              <div class="card_header">
                            <div class="hoverBar"></div>
                            <h2>Quia adipisci veniam, delectusa rem, ducimus earum.</h2>
                          </div>
                          <div class="card_body">
                           
                         
                          <p> Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                      </div>
                      <div class="card_footer">
                          <a href="#" class="cpl_btn">Click!</a>
                          </div>
                        </div>
                      </div>
                      </div>

                      <div class="cpl_col cpl_col_4">
                        <div class="card  b-yellow">
                          <div class="card_cont">
                              <div class="card_header">
                            <div class="cpl_icon icon-star-fill t-blue fs_5 "></div>
                            <h1>Lorem ipsum dolor sit amet</h1>
                          </div>
                          <div class="card_body">
                           
                         
                          <p>Nihil expedita reprehenderit obc sit amet consectetur adipisicing elit. Consectetur adipisicing elit. Nihil dolorem quae atque quisquam deserunt.</p>
                         
                      </div>
                      <div class="card_footer">
                          <a href="#" class="cpl_btn aqua">Click!</a>
                          </div>
                        </div>
                      </div>
                      </div>
                
                <div class="cpl_col cpl_col_4">
                  <div class="card  swiper-container ">
                      <div class="swiper-wrapper">
                    <div class="card_cont swiper-slide b-aqua ">
                        <div class="card_header">
                      <div class="cpl_icon pack2 icon-calendar-fill t-blue fs_5 t-white"></div>
                      <h1 class="t-white">Esta es una card tipo slide. Desliza para ver más.</h1>
                    </div>
                    <div class="card_body">
                     
                   
                    <p class="t-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita reprehenderit obcaecati illum dolorem quae atque quisquam deserunt.</p>
                </div>
                <div class="card_footer">
                    <a href="#" class="cpl_btn">Click!</a>
                    </div>
                  </div>
                  <div class="card_cont swiper-slide b-blue">
                    <div class="card_header">
                  <div class="cpl_icon pack2 icon-calendar-fill t-blue fs_5 t-white"></div>
                  <h1 class="t-white">Este es otro slide.</h1>
                </div>
                <div class="card_body">
                 
               
                <p class="t-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita reprehenderit obcaecati illum dolorem quae atque quisquam deserunt. Nihil expedita reprehenderit obcaecati illum dolorem quae atque quisquam deserunt</p>
            </div>
            <div class="card_footer">
                <!-- <a href="#" class="cpl_btn">Click!</a> -->
               
                </div>
              </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                </div>
                </div>

                <div class="cpl_col cpl_col_4">
                    <div class="card border_lightGray">
                      <div class="card_cont">
                          <div class="card_header">
                        <div class="cpl_icon pack2 icon-mail-fill t-blue fs_5"></div>
                        <h2>Quia adipisci veniam, delectusa rem, ducimus earum.</h2>
                      </div>
                      <div class="card_body">
                       
                     
                      <!-- <p> Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p> -->
                      <div class="cpl_flex_form">
                        <div class="input_wrap">
                            <label><span>Ingrese su correo</span></label>
                            <input type="text" class="cpl_input" placeholder="correo@mail.com">
                        </div>
                    </div>
                  </div>
                  <div class="card_footer">
                      <a href="#" class="cpl_btn">Click!</a>
                      </div>
                    </div>
                  </div>
                  </div>

                 <div class="cpl_col cpl_col_12 margin_top_medium"> 
                     <h1>Fondos Cards</h1>
                 </div>    

                  <div class="cpl_col cpl_col_6">
                    <div class="card  card_fondo border_lightGray">
                      <div class="card_cont">
                          <div class="card_header">
                        <div class="cpl_fondo big">
                            <div class="fondo_icon A ">A</div>
                        </div>
                        <h2 class="card_fondo_per"><span class="w_200">100%</span></h2>
                        <h1 class="card_fondo_saldo">$44.000</h1>
                        <div class="cpl_realTable_cont">
                            <table class="cpl_realTable"8>
                           <tr>
                               <tr>
                                   <td>Regimen:</td>
                                   <td><strong>A</strong></td>
                               </tr>
                               <tr>
                                   <td>Valor cuota:</td>
                                   <td><strong>$30.000</strong></td>
                               </tr>
                               <tr>
                                   <td>Cuotas:</td>
                                   <td><strong>1.4</strong></td>
                               </tr>
                               
                           </tr>
                            </table>
                           </div>
                        
                      </div>
                      <div class="card_body">
                      
                    
                  </div>
                  <div class="card_footer">
                      <p class="fs_s">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                    </div>
                  </div>
                  </div>


                  <div class="cpl_col cpl_col_6">
                    <div class="card  card_fondo ">
                      <div class="card_cont">
                          <div class="card_header">
                        <div class="cpl_fondo big">
                            <div class="fondo_icon A ">A</div>
                        </div>
                        <h2 class="card_fondo_per"><span class="w_200">100%</span></h2>
                        <h1 class="card_fondo_saldo">$44.000</h1>
                        <div class="cpl_realTable_cont">
                            <table class="cpl_realTable"8>
                           <tr>
                               <tr>
                                   <td>Regimen:</td>
                                   <td><strong>A</strong></td>
                               </tr>
                               <tr>
                                   <td>Valor cuota:</td>
                                   <td><strong>$30.000</strong></td>
                               </tr>
                               <tr>
                                   <td>Cuotas:</td>
                                   <td><strong>1.4</strong></td>
                               </tr>
                               
                           </tr>
                            </table>
                           </div>
                        
                      </div>
                      <div class="card_body">
                      
                    
                  </div>
                  <div class="card_footer">
                      <p class="fs_s">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="cpl_col cpl_col_6">
                    <div class="card  card_fondo border_lightGray">
                      <div class="card_cont">
                          <div class="card_header">
                        <div class="cpl_fondo big">
                            <div class="fondo_icon E ">E</div>
                        </div>
                        <h2 class="card_fondo_per"><span class="w_200">5%</span></h2>
                        <h1 class="card_fondo_saldo">$44.000</h1>
                        <div class="cpl_realTable_cont">
                            <table class="cpl_realTable">
                           <tr>
                               <tr>
                                   <td>Regimen:</td>
                                   <td><strong>A</strong></td>
                               </tr>
                               <tr>
                                   <td>Valor cuota:</td>
                                   <td><strong>$30.000</strong></td>
                               </tr>
                               <tr>
                                   <td>Cuotas:</td>
                                   <td><strong>1.4</strong></td>
                               </tr>
                               
                           </tr>
                            </table>
                           </div>
                           <!-- <div class="cpl_realTable_cont">
                               <table class="cpl_realTable">
                              <tr>
                                  <tr>
                                      <td>Regimen:</td>
                                      <td><strong>A</strong></td>
                                  </tr>
                                  <tr>
                                      <td>Valor cuota:</td>
                                      <td><strong>$30.000</strong></td>
                                  </tr>
                                  <tr>
                                      <td>Cuotas:</td>
                                      <td><strong>1.4</strong></td>
                                  </tr>
                                  
                              </tr>
                               </table>
                              </div> -->
                        
                      </div>
                      <div class="card_body">
                    
                    
                  </div>
                  <div class="card_footer">
                      <p class="fs_s">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </div>
                    </div>
                  </div>
                  </div>



                  
                  <!-- <div class="cpl_col cpl_col_4">
                    <div class="card swiper-container">
                        <div class="swiper-wrapper">
                      <div class="card_cont swiper-slide">
                          <div class="card_header">
                        <div class="hoverBar"></div>
                        <h2>Quia adipisci veniam, delectusa rem, ducimus earum.</h2>
                      </div>
                      <div class="card_body">
                       
                     
                      <p> Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                  </div>
                  <div class="card_footer">
                      <a href="#" class="cpl_btn">Click!</a>
                      </div>
                    </div>

                    <div class="card_cont swiper-slide">
                        <div class="card_header">
                      <div class="hoverBar"></div>
                      <h2>Quia adipisci veniam, delectusa rem, ducimus earum.</h2>
                    </div>
                    <div class="card_body">
                     
                   
                    <p> Quia adipisci veniam, delectusa rem, ducimus earum repudiandae animi laboriosam, iste a nobis fuga?</p>
                </div>
                <div class="card_footer">
                    <a href="#" class="cpl_btn">Click!</a>
                    </div>
                  </div>
                </div>
                  </div>
                  </div> -->
                </div>
                  </div>


<br><br>
         
        
        
        <br><br>
      
              
           
        </div>
    </div>
    
            <div class="cpl_col cpl_col_6">
                <div class="group">
                <h1>Menu lateral</h1>    
                <ul class="menu_lateral">
                   <a  href="./nueva_consulta.html">
                       <li>Nueva consulta</li>
                   </a>
                   <a  href="./nuevo_reclamo.html">
                       <li>Nuevo reclamo</li>
                   </a>
                   <a href="./nuevo_tramite.html">
                       <li>Nuevo trámite de pensión</li>
                   </a>
                   <a class="active" href="./solicitudes.html">
                       <li>Estado de reclamos o consultas</li>
                   </a>
               </ul> 
            </div>

        </div>
        
            <div class="cpl_col cpl_col_6">
                <div class="group">
            <h1>Linea de pasos</h1>
            <div class="steps-line">
                <div class="step active">
                    <div class="dot">1</div><span>Paso uno</span>
                </div>
                <div class="step">
                    <div class="dot">2</div><span>Paso dos</span>
                </div>
                <div class="step ">
                    <div class="dot">3</div><span>Paso tres</span>
                </div>
            
            </div>
        </div>
    </div>
 

</div>
    </div>
</div>



<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../../js/globals.js"></script>


<script>

const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

//   If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

//   Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
//   scrollbar: {
//     el: '.swiper-scrollbar',
//   },
});
</script>

</body>

</html>