<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Envia o descarga</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css" />
</head>

<body>
    <div class="cpl_body">
        <div class="cpl_container">
            <div class="mw_800 center_div">




                <!-- COMPONENTE  -->
                <div class="enviar_descargar">
                    <!-- mensaje de envío -->
                    <div class="cpl_alert_bar alert_success margin_bottom_small animated flipInX">
                        <p class="center_text w_600">Comprobante enviado</p>
                    </div>
                    <!-- Descarga -->
                    <div class="descargar">
                        <h4 class="center_text">Descargar comprobante</h4>
                        <div class="cpl_col cpl_col_12">
                        <a class="cpl_btn">Descargar</a>
                    </div>
                    </div>
                    <!-- envía -->
                    <div class="cpl_flex_form enviar">
                        <h4 class="center_text">Enviar por email</h4>
                        <div class="cpl_col cpl_col_12 input_wrap">
                            <input type="text" placeholder="Correo electrónico" class="cpl_input" />
                            <span class="f_error" style="display: block">Ingresa un correo</span>
                        </div>
                        <div class="input_wrap cpl_col btn_wrap">
                            <a class="cpl_btn">Enviar</a>
                        </div>
                    </div>
                </div>
                <!-- COMPONENTE  -->






            </div>
        </div>
    </div>
</body>

</html>