<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navs</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css">
    <script src="../../css_sass(r_r)/js/jquery.js"></script>
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
         

            <div class="flex_row margin_bottom_big">
                
                <div class="cpl_col cpl_col_12 margin_bottom_small">
                    <h2 class="t-extraDarkGray">Navegador compacto</h2>
                    <p>Este navegador solo se usa para menus con opciones reducidas de 2 a 4 con palabras cortas o con iconos   </p>
                </div>

                <div class="cpl_col cpl_col_12">
                    <div class="tab_buttons max_w_400">
                        <a href="./solicitudes.html" >Consultas</a>
                      <a class="active" >Reclamos</a>
                      <a href="./solicitudes-tramites.html" >Trámites</a>
                  </div>
                </div>
                



                <div class="cpl_col cpl_col_12">
                    <div class="tab_buttons max_w_400">
                        <a href="./solicitudes.html" ><span class="cpl_icon pack2 icon-mail"></span></a>
                   
                      <a href="./solicitudes-tramites.html" class="active" ><span class="cpl_icon pack2 icon-cellphone"></span></a>
                      <a href="./solicitudes.html" ><span class="cpl_icon pack2 icon-whatsapp"></span></a>
                      
                      <a href="./solicitudes-tramites.html" ><span class="cpl_icon pack2 icon-home"></span></a>
                  
                     
                  </div>
                </div>
            </div>



            <div class="flex_row margin_bottom_big">
                
                <div class="cpl_col cpl_col_12 margin_bottom_small">
                    <h2 class="t-extraDarkGray">Navegador de cabecera página</h2>
                    <p>Este navegador solo se usa para menus con opciones reducidas de 2 a 4 con palabras cortas o con iconos   </p>
                </div>

                <div class="cpl_col cpl_col_12">
                    <div class="cpl_col cpl_sidebar">
                        <ul class="menu_lateral">
                            <a  href="./nueva_consulta.html">
                                <li>Nueva consulta</li>
                            </a>
                            <a  href="./nuevo_reclamo.html">
                                <li>Nuevo reclamo</li>
                            </a>
                            <a class="active" href="./nuevo_tramite.html">
                                <li>Nuevo trámite de pensión</li>
                            </a>
                            <a  href="./solicitudes.html">
                                <li>Estado de reclamos o consultas</li>
                            </a>
                        </ul>
                    </div>
                </div>
                



                
            </div>
        </div>
    </div>
    <script src="../../css_sass(r_r)/js/globals.js"></script>
</body>
</html>