<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css_sass(r_r)/css/cpl-Styles.css">
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container border_blue">

            <div class="flex_row ">
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
            </div>

            <div class="flex_row row_cols_offset_12">
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
            </div>


            <div class="flex_row row_cols_padding_12">
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
                <div class="cpl_col cpl_col_4 border_lightGray">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi hic totam nobis illum fugit exercitationem, commodi illo rerum similique, architecto, perspiciatis soluta sapiente suscipit officiis iste provident modi dolore odit.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>