<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css">
</head>
<body>
    <div class="cpl_body">






<div class="max_w_1100 center_div" style="max-width: 1100px;">
      <div class="co_cards co_cards_slider">
        <div class="flex_row">
<div class="cpl_col cpl_col_12">
            <div class="card banner_card swiper-container border_2_lightGray">
              <div class="swiper-wrapper">


                  <!-- slide -->
                  <div class="card_cont swiper-slide b-extraLightAqua" style="background-image: url(../../Assets/Globals/img/banner_slider_home_privado/deposito.png);">
                  <div class="cpl_col cpl_col_7 info_section">
                  <div class="card_header">
          
                    <h2 class="font_weight_800"> MIRA CRECER TUS AHORROS
                  <br>
               
                </h2>
                <span class="font_size_h4">
              


                <strong>Deposita directamente a tu APV o cuenta 2</strong> y haz crecer tu dinero con nuestra rentabilidad.
                  
                     
                </span>
                
               
              </div>
              <div class="card_body">
               
            
              
          </div>
          <div class="card_footer">
              <a href="/Paginas/Producto-Ahorro-Voluntario-Cuenta-2-Suscripcion.aspx" class="cpl_btn mw_300 aqua">DEPÓSITO DIRECTO</a>
              </div>
            </div>
            </div>
            <!-- slide -->

                <!-- slide -->
              <div class="card_cont swiper-slide b-extraLightAqua" style="background-image: url(../../Assets/Globals/img/banner_slider_home_privado/cuenta_2.png);">
                <div class="cpl_col cpl_col_7 info_section">
                  <div class="card_header">
          
                <h2 class="font_weight_800"> Eso que sueñas es posible
                  <br>
               
                </h2>
                <span class="font_size_h4"><strong>Abre tu cuenta de ahorro</strong> en AFP Capital y logra lo que más quieres.
                </span>
                
               
              </div>
              <div class="card_body">
               
            
              
          </div>
          <div class="card_footer">
              <a href="/Paginas/Producto-Ahorro-Voluntario-Cuenta-2-Suscripcion.aspx" class="cpl_btn mw_300 aqua">Contrata una cuenta 2</a>
              </div>
            </div>
            </div>
            <!-- slide -->



              <!-- slide -->
              <!-- <div class="card_cont swiper-slide b-extraLightAqua" style="background-image: url(../../Assets/Globals/img/banner_slider_home_privado/deposito.png);">
                <div class="cpl_col cpl_col_7 info_section">
                  <div class="card_header">
          
                <h2>RETIRO DEl 10% DE TUS FONDOS
                  <br>
               
                </h2>
                <span class="font_size_h4">Infórmate o solicita el primer, segundo o tercer retiro de tus fondos de pensiones
                </span>
                
               
              </div>
              <div class="card_body">
               
            
              
          </div>
          <div class="card_footer">
              <a href="https://retiro.afpcapital.cl/prelogin-user" class="cpl_btn mw_300 aqua">MÁS INFORMACIÓN</a>
              </div>
            </div>
            </div> -->
            <!-- slide -->

  



          </div>
          <div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
          </div>
          </div>
        </div>
      </div>    

    </div>


























</div>

</body>
<script src="../../js/globals.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



<script>

const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  autoplay: {
        delay: 2100,
        disableOnInteraction: false,
      },

//   If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

//   Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
//   scrollbar: {
//     el: '.swiper-scrollbar',
//   },
});
</script>
</html>

