<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrobutos de texto</title>
    <link rel="stylesheet" href="../../Assets/Globals/css/cpl-Styles.css">
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
            <div class="flex_row margin_bottom_big       Cambios">

                <div class="cpl_col cpl_col_12">

                    <h2 class="t-extraDarkGray">Etiquetas</h2>
                    <p>Estas son las etiquetas y sus estilos de texto definidos</p>

                    <div class="cpl_realTable_cont margin_top_small ">
                        <table class="cpl_realTable">
                                   <thead>
                                       <th>Etiqueta</th>
                                       <th>Resultado</th>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>h1</td>
                                           <td><h1>Lorem ipsum dolor sit amet.</h1></td>
                                       </tr>

                                       <tr>
                                        <td>h2</td>
                                        <td><h2>Lorem ipsum dolor sit amet.</h2></td>
                                    </tr>

                                    <tr>
                                        <td>h3</td>
                                        <td><h3>Lorem ipsum dolor sit amet.</h3></td>
                                    </tr>

                                    <tr>
                                        <td>h4</td>
                                        <td><h4>Lorem ipsum dolor sit amet.</h4></td>
                                    </tr>

                                    <tr>
                                        <td>p</td>
                                        <td><p>Lorem ipsum dolor sit amet.</p></td>
                                    </tr>
                                   </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="flex_row margin_bottom_big">
                        <div class="cpl_col cpl_col_12 ">


                            <h2 class="t-extraDarkGray">Asignar tamaño</h2>
                        <p>Estas clases nos permiten asignar un tamaño un elemento cualquiera sea su etiqueta y su tamaño por defecto.</p>
    
                        <div class="cpl_realTable_cont margin_top_small ">
                            <table class="cpl_realTable">
                                       <thead>
                                           <th>clase</th>
                                           <th>Resultado</th>
                                       </thead>
                                       <tbody>
                                           

                                            <tr>
                                               <td>.fs_1</td>
                                               <td><span class="fs_1">Lorem ipsum dolor sit amet.</span></td>
                                           </tr>

                                           <tr>
                                            <td>.fs_2</td>
                                            <td>
                                                <span class="fs_2">Lorem ipsum dolor sit amet. </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>.fs_3</td>
                                            <td><span class="fs_3">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_4</td>
                                            <td><span class="fs_4">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_5</td>
                                            <td><span class="fs_5">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_6</td>
                                            <td><span class="fs_6">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_7</td>
                                            <td><span class="fs_7">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_8</td>
                                            <td><span class="fs_8">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_9</td>
                                            <td><span class="fs_9">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_10</td>
                                            <td><span class="fs_10">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                        <tr>
                                            <td>.fs_11</td>
                                            <td><span class="fs_11">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>


                                        <tr>
                                            <td>.fs_12</td>
                                            <td><span class="fs_12">Lorem ipsum dolor sit amet.</span></td>
                                        </tr>

                                       
    
                                           
                                       </tbody>
                                </table>
                            </div>    


                        </div>
                    </div>
                    <div class="flex_row margin_bottom_big">
                        <div class="cpl_col cpl_col_12 ">


                            <h2 class="t-extraDarkGray">Asignar tamaño de una etiqueta definida</h2>
                    <p>
                        Estas clases, heredan los valores del tamaño de fuente de una etiqueta determinada, por ejemplo, 
                        si usamos fs_h1 en un elemento, este heredará el tamaño que se le asignó a la etiqueta h1. Esto implica que si cambiamos en algún 
                        momento el tamaño del h1 también cambiará el tamaño del elemento con la clase, en cambio con la clase .fs_12, que nos da el mismo resultado en tamaño, los textos con esta clase 
                        mantendrán su tamaño si en algún momento decidimos que las etiquetas h1 tengan más o menos tamaño.
                    </p>

                    <div class="cpl_realTable_cont margin_top_small">
                        <table class="cpl_realTable">
                        <thead>
                            <th>
                                Clase
                            </th>
                            
                            <th>
                                Descripción
                            </th>

                            <th>
                                Resultado
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                            <td>.fs_h1</td>
                            <td><p>Asigna al elemento el tamaño de fuente definido para la etiqueta h1</p></td>
                            <td><div class="fs_h1">Lorem ipsum dolor sit amet.</div> </td>
                            </tr>

                            <tr>
                            <td>.fs_h2</td>
                            <td><p>Asigna al elemento el tamaño de fuente definido para la etiqueta h2</p></td>
                            <td><div class="fs_h2">Lorem ipsum dolor sit amet.</div> </td>
                            </tr>

                            <tr>
                                <td>.fs_h3</td>
                                <td><p>Asigna al elemento el tamaño de fuente definido para la etiqueta h3</p></td>
                                <td><div class="fs_h3">Lorem ipsum dolor sit amet.</div> </td>
                                </tr>


                                <tr>
                                    <td>.fs_h4</td>
                                    <td><p>Asigna al elemento el tamaño de fuente definido para la etiqueta h4</p></td>
                                    <td><div class="fs_h4">Lorem ipsum dolor sit amet.</div> </td>
                                    </tr>


                                    <tr>
                                        <td>.fs_p</td>
                                        <td><p>Asigna al elemento el tamaño de fuente definido para la etiqueta p</p></td>
                                        <td><div class="fs_p">Lorem ipsum dolor sit amet.</div> </td>
                                        </tr>


                                    


                                       
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="flex_row margin_bottom_big">
                    <div class="cpl_col cpl_col_12 ">
                    



                    <h2 class="t-extraDarkGray">Asignar estilo de una etiqueta definida</h2>
                    <p>
                        Tal como con las clases anteriores pudimos heredar el tamaño de fuente de las etiquetas asociadas, podemos hacerlo también con todo su estilo, tamaño, fuente, color por defecto, interlineado, etc. <br>
                        Con esto, por ejemplo, podemos hacer que una etiqueta p se vea como un h1 con el fin de controlar el SEO de nuestra página para no tener más de  una etiqueta H1 y colaborar con la indexación.
                    </p>

                    <div class="cpl_realTable_cont margin_top_small">
                        <table class="cpl_realTable">
                        <thead>
                            <th>
                                Clase
                            </th>
                            
                            <th>
                                Descripción
                            </th>

                            <th>
                                Resultado
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>.style_h1</td>
                                <td><p>Asigna al elemento todos los estilos definidos para la etiqueta h1, como tamaño, color, alto de línea, etc.</p></td>
                                <td><div class="style_h1">Lorem ipsum dolor sit amet.</div> </td>
                                </tr>   
                                
                                
                                <tr>
                                    <td>.style_h2</td>
                                    <td><p>Asigna al elemento todos los estilos definidos para la etiqueta h2, como tamaño, color, alto de línea, etc.</p></td>
                                    <td><div class="style_h2">Lorem ipsum dolor sit amet.</div> </td>
                                    </tr>   
        
                                    <tr>
                                        <td>.style_h3</td>
                                        <td><p>Asigna al elemento todos los estilos definidos para la etiqueta h3, como tamaño, color, alto de línea, etc.</p></td>
                                        <td><div class="style_h3">Lorem ipsum dolor sit amet.</div> </td>
                                        </tr> 
                                        
                                        
                                        <tr>
                                            <td>.style_h4</td>
                                            <td><p>Asigna al elemento todos los estilos definidos para la etiqueta h4, como tamaño, color, alto de línea, etc.</p></td>
                                            <td><div class="style_h4">Lorem ipsum dolor sit amet.</div> </td>
                                            </tr>   
        
        
                                            <tr>
                                                <td>.style_p</td>
                                                <td><p>Asigna al elemento todos los estilos definidos para la etiqueta p, como tamaño, color, alto de línea, etc.</p></td>
                                                <td><div class="style_p">Lorem ipsum dolor sit amet.</div> </td>
                                                </tr>   

                                       
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
           
            <div class="flex_row margin_bottom_big">
                <div class="cpl_col cpl_col_12 ">

                    <h2 class="t-extraDarkGray">Asignar peso de fuente</h2>

                    <p>Para cambiar el peso o grosor de la fuente cualquiera sea su etiqueta o su clase usaremos la clase w_{número de grosor}</p>
                    <p>En este ejemplo usaremos etiquetas p com la clase style_h2 y alteraremos su peso</p>
                    <div class="cpl_realTable_cont margin_top_small">
                    <table class="cpl_realTable">
                        <thead>
                            <th>
                                Clase
                            </th>
                            
                            <th>
                                Descripción
                            </th>

                            <th>
                                Resultado
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>.w_100</td>
                                <td><p>Asignamos un font-weight de 100.</p></td>
                                <td><p class="style_h2 w_100">Lorem ipsum dolor sit amet.</p> </td>
                                </tr>   

                                <tr>
                                    <td>.w_200</td>
                                    <td><p>Asignamos un font-weight de 200.</p></td>
                                    <td><p class="style_h2 w_200">Lorem ipsum dolor sit amet.</p> </td>
                                    </tr>   


                                    <tr>
                                        <td>.w_300</td>
                                        <td><p>Asignamos un font-weight de 300.</p></td>
                                        <td><p class="style_h2 w_300">Lorem ipsum dolor sit amet.</p> </td>
                                        </tr>   

                                        <tr>
                                            <td>.w_400</td>
                                            <td><p>Asignamos un font-weight de 400.</p></td>
                                            <td><p class="style_h2 w_400">Lorem ipsum dolor sit amet.</p> </td>
                                            </tr>   


                                            <tr>
                                                <td>.w_500</td>
                                                <td><p>Asignamos un font-weight de 500.</p></td>
                                                <td><p class="style_h2 w_500">Lorem ipsum dolor sit amet.</p> </td>
                                                </tr>  
                                                
                                                

                                                <tr>
                                                    <td>.w_600</td>
                                                    <td><p>Asignamos un font-weight de 600.</p></td>
                                                    <td><p class="style_h2 w_600">Lorem ipsum dolor sit amet.</p> </td>
                                                    </tr>   



                                                    <tr>
                                                        <td>.w_700</td>
                                                        <td><p>Asignamos un font-weight de 700.</p></td>
                                                        <td><p class="style_h2 w_700">Lorem ipsum dolor sit amet.</p> </td>
                                                        </tr>   


                                                        <tr>
                                                            <td>.w_800</td>
                                                            <td><p>Asignamos un font-weight de 800.</p></td>
                                                            <td><p class="style_h2 w_800">Lorem ipsum dolor sit amet.</p> </td>
                                                            </tr>  
                                                            
                                                            

                                                            <tr>
                                                                <td>.w_900</td>
                                                                <td><p>Asignamos un font-weight de 900.</p></td>
                                                                <td><p class="style_h2 w_900">Lorem ipsum dolor sit amet.</p> </td>
                                                                </tr>   
                                
                                
                                

                                       
                        </tbody>
                    </table>
                    </div>
                    
                
                </div>
            </div>
            <div class="flex_row ">




                <div class="cpl_col cpl_col_12">

                    <h2 class="t-extraDarkGray">Asignar color de texto</h2>
                    <p>Podemos cambiar el color por defecto de un texto, cualquiera sea su etiqueta o clase previa, con la clase .t-{color}.
                       

                    </p>


                    
                
                </div>
                <div class="cpl_col cpl_col_4">
                    <h3>.t-red </h3>
                    <h1 class="t-red">Texto rojo</h1>
                </div>
                <div class="cpl_col cpl_col_4">
                    <h3>.t-aqua </h3>
                    <h1 class="t-aqua">Texto aqua</h1>
                </div>
                <div class="cpl_col cpl_col_4">
                    <h3>.t-yellow </h3>
                    <h1 class="t-yellow">Texto amarillo</h1>
                </div>
               
            </div>
            <div class="flex_row margin_top_small more margin_bottom_big">
                <div class="cpl_col cpl_col_6">
                   
                    <a class="cpl_btn aqua secondary" href="./colors.html">Ver colores disponibles </a>
                 
                </div>

                <div class="cpl_col cpl_col_6">

                <a  class="cpl_btn aqua secondary" href="alcance_propiedades"><span class="cpl_icon pack2 icon-cellphone"></span> Ver aplicacón de clases a media queries</a>
            </div>
            </div>
            
            
            <div class="flex_row margin_bottom_big">
<div class="cpl_col cpl_col_12 margin_bottom_medium">

    <h2 class="t-extraDarkGray">Alineamientos de texto</h2>
                    <p>Las siguientes clases nos permiten asignar alineamientos de texto</p>
                    
                
                </div>
                <div class="cpl_col cpl_col_4">
              
                    <h2 class="align_left">.align_left</h2>
                    <p class="align_left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rerum adipisci consequatur culpa totam corporis sit enim, quisquam placeat dicta nulla eligendi tenetur distinctio sed? Maiores aliquam eius quaerat optio!</p>
                </div> 
    
                <div class="cpl_col cpl_col_4">
                
                    <h2 class="align_center">.align_center</h2>
                    <p class="align_center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rerum adipisci consequatur culpa totam corporis sit enim, quisquam placeat dicta nulla eligendi tenetur distinctio sed? Maiores aliquam eius quaerat optio!</p>
                </div>
    
                <div class="cpl_col cpl_col_4">
                 
                    <h2 class="align_right">.align_right</h2>
                    <p class="align_right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rerum adipisci consequatur culpa totam corporis sit enim, quisquam placeat dicta nulla eligendi tenetur distinctio sed? Maiores aliquam eius quaerat optio!</p>
                </div>

                <div class="cpl_col cpl_col_12">
                   
                    
                    <a href="alcance_propiedades" class="margin_top_small cpl_btn aqua secondary"><span class="cpl_icon pack2 icon-cellphone"></span> Ver aplicacón de clases a media queries</a>

                </div>



                <div class="cpl_col cpl_col_12 margin_top_big">
                    <div class="cpl_zoom_text">
                        <a id="text_zoom_increment">+</a>
                        <a id="text_zoom_decrement">-</a>
                        </div>
                  </div>
                 
                </div>
       
    
</body>
<script src='../../js/zoom_text.js'></script>
</html>