<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css_sass(r_r)/css/cpl-Styles.css">
    <title>Afp Play</title>
    <style>
        .swiper-container{
            height: 300px;
            padding: 20px;
        }
        .swiper-wrapper .video_cont{
            /* background-color: #333; */
            border-radius: 9px;
            width: 100%;
            background-color: #fff;
            border-radius: 6px;
            overflow: hidden;
            float: left;

        }
        .swiper-slide{
            
        }
        .swiper-slide h3{
   
            font-size: 1.1em!important;
        }
        .video_title{
            padding: 10px!important;
            float: left;
        }
     
        .swiper-wrapper .video_cont img{
     width: 100%;

     margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
            <div class="slider_cont b-extraLightGray padding_20 border_radius_6">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                          <div class="video_cont">
                              <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                              <div class="video_title">
                              <h3>Rentabilidad en el largo plazo</h3>
                              <p>06 de abril 2019</p>
                            </div>
                          </div>
                      </div>


                      <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                        </div>
                    </div>



                    <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                            </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="video_cont">
                            <img src="https://img.youtube.com/vi/QL8dioixgSw/maxresdefault.jpg" alt="youtube" >
                            <div class="video_title">
                                <h3>Rentabilidad en el largo plazo</h3>
                                <p>06 de abril 2019</p>
                              </div>
                        </div>
                    </div>


                    
                      
                    
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                  
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  
                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../../js/globals.js"></script>


<script>

const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  slidesPerView : 3 ,
  spaceBetween: 20,

//   If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

//   Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
//   scrollbar: {
//     el: '.swiper-scrollbar',
//   },
});
</script>
</body>
</html>