.circle-numb {
    font-family: $fontCorp;
    border-radius: 50%;
    padding-top: 4px !important;
    margin-right: 10px !important;
    margin-top: 3px !important;
    width: 25px !important;
    height: 25px !important;
    color: #fff;
    text-align: center !important;
    font-weight: 900 !important;
    padding-bottom: 12px;
    display: inline-block;
    background-color: map-get($colors, "blue");
  }

  .circle_span{
  


    text-align: center;

    position: relative;
    width: 42px;

  
    display: inline-table;
  
    font-family: $fontCorp!important;
    @include define_h1;
    font-size: map-get($sizeRem, 's_5' )!important;
    font-weight: 900!important;
    

    &:after{
      content: '';
      border: solid 4px map-get($colors, 'blue' );
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -20px;

      width: 40px;
      height: 40px;
      border-radius: 60px;
      
     
    }
  

  }