<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrobutos de texto</title>
    <link rel="stylesheet" href="../../../css_sass(r_r)/css/cpl-Styles.css">
    <script src="../../../css_sass(r_r)/js/jquery.js"></script>
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
           <div class="flex_row">
            <div class="cpl_sidebar">
                <ul class="menu_lateral">
                    <a class="active" href="./nueva_consulta.html">
                        <li>Color</li>
                    </a>
                    <a  href="./nuevo_reclamo.html">
                        <li>Grid System</li>
                    </a>
                    <a  href="./nuevo_tramite.html">
                        <li>Tipografía</li>
                    </a>
                    <a  href="./solicitudes.html">
                        <li>Estado de reclamos o consultas</li>
                    </a>
                </ul>
            </div>
            <div class="cpl_bodybar ">
                <div class="flex_row">
                    <div class="cpl_col cpl_col_12 ">
                     Hola
                    </div>
                </div>
            </div>
   
       
    
</body>
<script src="../../../css_sass(r_r)/js/globals.js"></script>
<script src="../../../css_sass(r_r)/js/modal.js"></script>
<script src='../../../css_sass(r_r)/js/zoom_text.js'></script>
</html>