// Aquí van nuestros estilos personalizados
.contenidoLibre{
    @include disp(flex);
    @include geneBrow(flex-wrap, wrap);
   
   
   .cuadrante{
       padding: 3px;
   }
   
   .cuadranteMiddleLeftTop, .cuadranteMiddleLeftBottom{
       width: 30%!important;
   }

   .cuadranteMiddleRightTop, .cuadranteMiddleRightBottom{
       width: 70%!important;
   }
   
   @include mdMax {
   
       .cuadranteMiddleLeftTop, .cuadranteMiddleRightTop, .cuadranteMiddleLeftBottom, .cuadranteMiddleRightBottom{
           height: auto!important;
           width: 100%!important;
           margin-top: 0px;
           margin-bottom: 0;
       }
           
   }
   
   
   }
   