<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Adjuntar</title>
    <link rel="stylesheet" href="../../../Assets/Globals/css/cpl-Styles.css" />
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="dropzone.css">
    
    <script src="../../../Assets/Globals/js/jquery.js"></script>
    <style>
        
/*Important*/

    </style>
</head>

<body>
    <div class="cpl_body">
        <div class="cpl_container mw_800">
            <div class="flex_row">

                <div class="cpl_col cpl_col_12">
                    <div id="drop-zone">
                        <h3 class="center_text">Arrastra tus archivos aquí</h3>
                        <div class="flex_row">
                            <div class="cpl_col cpl_col_12 mw_400 center_div">
                        <div id="clickHere" class="cpl_btn">Seleccionar archivos aquí <i class="cpl_icon icon-add"></i>
                          <input type="file" name="file" id="file" multiple />
                        </div>
                        <div class='file_list'></div>
                    </div>
                    </div>
                      </div>
                      <p class="small-text center_text margin_top_tiny center_div mw_300">
                        Solo se admiten archivos PDF, WORD, JPG, PNG y con un tamaño
                        máximo de 10 MB
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>
<!-- <script src="../../css-saas/js/globals.js"></script> -->
<script src="../../../Assets/Globals/js/add_file_drop.js"></script>






</html>