<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cuota mortuoria</title>
    <link rel="stylesheet" href="../../css-saas/css/cpl_base.css" />
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="dropzone.css">
    
    <script src="../../css-saas/js/jquery.js"></script>
    <style>
        
/*Important*/

    </style>
</head>

<body>
    <div class="cpl_body">
        <div class="cpl_container mw_800">
            <div class="flex_row">

                <div class="cpl_col cpl_col_12">
                    <div id="drop-zone">
                        <h3 class="center_text">Por favor adjunta aquí el finiquito o acta de la inspección del trabajo</h3>
                        <div class="flex_row">
                            <div class="cpl_col cpl_col_12 mw_400 center_div">
                        <div id="clickHere" class="cpl_btn">Examinar<i class="cpl_icon icon-add"></i>
                          <input type="file" name="file" id="file" multiple />
                        </div>
                        <div class='file_list'></div>
                    </div>
                    </div>
                      </div>
                      <ul class="cpl_list">
                          <li>
                              Solo se aceptan archivos PDF
                          </li>
                          <li>Solo se aceptan hasta 10 archivos adjuntos</li>
                          <li>El tamaño máximo, por el total  de archivos cargados esde 20Mb.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="../../css-saas/js/globals.js"></script>
<script src="../../css-saas/js/add_file_drop.js"></script>






</html>