<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Assets/Globals/css/cpl-Styles.css">
    <script src="../../../Assets/Globals/js/jquery.js"></script>
</head>
<body>
    <div class="cpl_body">
        <div class="cpl_container">
            <div class="cpl_flex_form">
            <div class="flex_row">
                <div class="cpl_col cpl_col_6 input_wrap">
                    <select class="cpl_input" name="" id="">
                        <option value="">Seleccione</option>
                    </select>
                    <div class="f_error">Error</div>
                </div>
                <div class="cpl_col cpl_col_6 input_wrap select_wrap custom_select_wrap">
                    <input type="text" class="inputSelect">
                    <!-- CAMPO FONDO  PARA ALMACENAR -->
                    <div class="custom_select" id="ddlFondo_custom_select">
                        <div class="selected"></div>
                        <ul>
                            <li class="default">Elegir fondo</li>
                            <li class="A">
                                <div class="cpl_fondo cpl_col">
                                   
                                    <div class="fondo_icon A animated flipInY ">
                                        A
                                    </div>
                                   <div class="margin_left_10"> Más riesgoso</div>
                                </div>
                            </li>
                            <li class="B">
                                <div class="cpl_fondo cpl_col">
                                    
                                    <div class="fondo_icon B animated flipInY ">
                                        B
                                    </div>
                                <div class="margin_left_10"> Riesgoso</div>
                                </div>
                            </li>

                            <li class="C">
                                <div class="cpl_fondo cpl_col">
                                
                                    <div class="fondo_icon C animated flipInY ">
                                        C
                                    </div>
                                <div class="margin_left_10"> Intermedio</div>
                                </div>
                            </li>


                            <li class="D">
                                <div class="cpl_fondo cpl_col">
                                   
                                    <div class="fondo_icon D animated flipInY ">
                                        D
                                    </div>
                                <div class="margin_left_10"> Conservador</div>
                                </div>
                            </li>


                            <li class="E">
                                <div class="cpl_fondo cpl_col">
                                    
                                    <div class="fondo_icon E animated flipInY ">
                                        E
                                    </div>
                                <div class="margin_left_10"> Más conservador</div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="../../../Assets/Globals/js/globals.js"></script>
    <script src='../../../Assets/Globals/js/custom_select.js'></script>
</body>

</html>